* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: rgb(0, 162, 255);
}

.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.infoBox:hover {
  box-shadow: 0 0 2px 2px rgb(196, 194, 194);
}

.app__right h3 {
  color: #6a5d5d;
}
.app__right h5 {
  color: #6a5d5d;
  text-align: end;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}
.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
.chartHeader {
  padding: 10px;
  margin-top: 10px;
}
